.title{
    padding-left: 10px;
}

.main{
    display: flex;
    flex-direction:row;
    padding-left: 10px;
}

.beerImage{
    border: solid black 3px;
    border-radius: 20px;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
}

.description{
    padding-bottom: 20px;
}

.comments{
    display: flex;
    padding: 10px 0 0 10px;
}

.formulaire{
    margin-left: 70px;
}

.rating{
    margin-left: 70px;
}

.commentForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ratingForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}