.title{
    padding-left: 10px;
    padding-top: 100px;
}

.main{
    display: flex;
    flex-direction:row;
    padding-left: 10px;
}

.beerImage{
    border: solid black 3px;
    border-radius: 20px;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
    color: rgb(53, 25, 13);
}

.description{
    padding-bottom: 20px;
    color: rgb(53, 25, 13);
}

.comments{
    display: flex;
    padding: 10px 0 0 10px;
    color: rgb(53, 25, 13);
}

.formulaire{
    margin-left: 70px;
}

.rating{
    margin-left: 70px;
}

.commentForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ratingForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}


@media screen and (max-width: 768px){
    .title {
        padding-left: 10px;
        padding-top: 10px;
        color: rgb(53, 25, 13);
    }
    .comments{
        display: flex;
        padding: 10px 0 0 10px;
        color: rgb(53, 25, 13);
        flex-direction: column;
    }
    
    .formulaire{
        padding-top: 20px;
        margin: 0;
        display: flex;
    }

    .rating{
        padding-top: 20px;
        padding-bottom: 50px;
        margin: 0;
        display: flex;
    }

}

@media screen and (max-width: 360px){

    .title {
        padding-left: 10px;
        padding-top: 100px;
        color: rgb(53, 25, 13);
    }

    .main{
        display: flex;
        flex-direction:column;
        padding: 0;
    }
    
    .comments{
        display: flex;
        padding: 10px 0 0 10px;
        color: rgb(53, 25, 13);
        flex-direction: column;
    }
    .commentForm{
        display: flex;
    }

    .formulaire{
        padding-top: 20px;
        margin: 0;
        display: flex;
    }
    
    .rating{
        padding-top: 20px;
        padding-bottom: 50px;
        margin: 0;
        display: flex;
    }
}